* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}
.menu {
    display: table-cell;
    float:left;
    width: 15vw;
    height: 100vh;
    margin: 0;
    background: #23282d;
    color: #abadae;
    overflow: auto;
}
.container {
    display: table-cell;
    float:left;
    width: 85vw;
    max-width: 90vw;
    height: 100vh;
    margin: 0;
    position: relative;
}
.content {
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: solid 2px;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    background-color: #f1f1f1;
}
.filemanager {
    background: white;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: column;
}
.menu a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    color: #abadae;
    text-decoration: none;
}
.menu a:link {
    color: inherit;
}
.menu a:hover {
    background: #191e23;
    color: #00b9eb;
}
.menu a.currentLink {
    background: #1074a8;
    color: white;
}

.table{
	width: 100%;
	text-align:center;
	border-spacing: 0;
    background-color: white;
    border: solid 1px;
}
.table a:link, .table a:visited {
    color: red;
}
.table tbody tr:hover{
	background: lightgrey;
}
.smallInput{
    max-width: 128px;
}