/*body{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	image-rendering: pixelated;
	animation: marquee 10s linear infinite;
}*/
body::before{
	content: "";
	position: fixed;
  	top: 0; left: 0;
	width: 300%; height: 100%;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	image-rendering: pixelated;
	animation: marquee 200s linear infinite;
}
@keyframes marquee {
	0% {
		left: 0
	}
	100% {
		left: -200%
	}
}
@media only screen and (max-width: 800px) {
	.containerInner{
		margin: 0 0;
	}
	html{
		width: 800px;
	}
	body{
		width: 800px;
	}
}
@media only screen and (min-width: 800px) {
	.container{
		width: 100%;
	}
	.containerInner{
		margin: 0 100px;
	}
}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}*/

@media only screen and (min-width: 1360px) {
	.container{
		width: 60%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}*/
.logo{
	display: block;
	margin: 40px auto;
	filter: drop-shadow(5px 5px 5px #222); 
}
.container{
	overflow: hidden;
	margin: 55px auto;
	max-width: 1280px;
	min-height:600px;
	min-width: 750px;
	padding: 15px;
	background: linear-gradient(90deg, rgba(210,180,140,1) 0%, rgba(226,202,163,1) 100%);
	border: 10px solid transparent;
	border-image-slice:180 110 180 110;
	border-image-width:200px;
	border-image-outset:70px;
	border-image-repeat:round round;
	border-image-source: url(../img/border.png);
	position:relative;
}
.containerInner{
	position:relative;
	min-height:600px;
}
.woodenBackground{
	image-rendering: pixelated;
	border-style: solid;
	border-image-slice:25 25 25 25;
	border-image-width:25px 25px 25px 25px;
	border-image-repeat:round repeat;
	border-image-source: url(../img/woodTextureTorn.png);
	background-image: url(../img/woodTexture.jpg);
	background-clip: content-box;
	padding: 20px !important;
	color: white;
	text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}
.loginForm, .registerForm{
	margin-top:30px;
	text-align:center;
}
.registerForm{
	display:none;
}
.menuBar{
	text-align: right;
}
/*.champions, .settings, .addChampion{
	padding: 0 100px;
}*/
.championsList{
	width:100%;
	text-align:center;
	vertical-align: middle;
	padding: 10px;
}
.championsList td,th{
	border-radius:5px;
	padding: 5px;
	background: rgba(0,0,0,0.2);
}
.settings, .addChampion{
	display:none;
}
.footer{
	width:100%;
	text-align:center;
	position:absolute;
	bottom:0;
}