@font-face {
	font-family: 'Almendra';
	src: url(almendra.ttf);
}
html{
	width:100%;
	height:100%;
	margin: 0;
}
body{
	font-family: 'Almendra';
	font-weight: bold;
	font-size:18px;
}
input[type=text], input[type=password], input[type=mail], input[type=number] {
    font-family: 'Almendra';
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #848484;
    border-radius: 30px;
    outline: 0;
    height: 25px;
    width: 275px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3px;
    box-sizing: border-box;
}
textarea {
    font-family: 'Almendra';
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #848484;
    border-radius: 1.5em;
    outline: 0;
    width: 275px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 3px;
    box-sizing: border-box;
}
select:not([size]) {
	font-family: 'Almendra';
	font-size:18px;
	font-weight: bold;
  border: 1px solid #848484; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  border-radius: 30px; 
  outline:0; 
  height:25px; 
  width: 275px; 
  padding-left:10px; 
  padding-right:10px; 
	margin: 3px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
input[type=button], input[type=submit], .button {
    margin: 10px auto;
    min-width: 128px;
    letter-spacing: 2px;
    border-radius: 8px;
    /*font-family: 'Skranji', cursive;*/
    font-family: 'Almendra';
    font-weight: bold;
    color: #ffc000;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0 1px 3px #000;
    text-align: center;
    padding: 5px;
    background: radial-gradient(circle, #8b0000, #8b0000);
    border-top: 4px ridge #ffb000;
    border-left: 4px groove #ffb000;
    border-right: 4px ridge #ffb000;
    border-bottom: 4px groove #ffb000;
    box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
}
a.button {
    text-decoration: none;
}
input[type=button]:hover, input[type=submit]:hover, .button:hover{
    background: radial-gradient(circle, #e52b2b, #8b0000);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2);
    cursor: pointer;
}
input[type=button]:active, input[type=submit]:active{
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}
input[type=button]:disabled, input[type=submit]:disabled{
  background: radial-gradient(circle, #b1b1b1, #585858);
}
.button2 {
    border: none;
    outline: none;
    display: inline-block;
    min-height: 25px;
    min-width: 40px;
    padding: 4px 8px;
    margin: 0px;
    border-radius: 2em;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}
.button2:hover {
    background-color: #4095c6;
}
.button2:active {
    background-color: #1074a8;
}
input.glowingRadio[type="radio"] {
	display:none;
}
input.glowingRadio[type="radio"] + label div {
	cursor: pointer;
}
input.glowingRadio[type="radio"]:checked + label div {
	filter: drop-shadow(0px 0px 12px red);
}
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /*border-radius: 10px;*/
  background-color: #333333af;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  /*border-radius: 10px;*/
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.championImage{
	margin: 0 auto;
	width:64px;
	height:96px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 400%;
	image-rendering: pixelated;
}
.championImage img {
	width: 32px;
	height: 48px;
}